# dependencies
node_modules/

# android
android/.gradle/
android/app/build/
android/build/

# ios
ios/build/
Pods/

# metro
.metro-health-check*

# logs
npm-debug.log
yarn-error.log

# env
.env

# mac
.DS_Store

# vscode
.vscode/

# generated apk
*.apk
*.aab